
@{
    ViewBag.Title = "DoiPhongThanhCong";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@{
    if (ViewBag.result == "thanhcong")
    {
        <div class="alert alert-success" role="alert">
            <h2 style="color:#3c763d">Đổi phòng thành công.</h2>
        </div>
    }
    else
    {
    }
}


