@{
    ViewBag.Title = "Về chúng tôi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12" style="background-color: #f5f7f5; text-align: center;">
    <div >
       
        <div class="panel-body" style="margin-top: 5px;">
            <h3 style="text-align: center;">Chào mừng đến với khách sạn Lê An</h3>

            <p class="col-md-12">
                "Không gian thanh thản, tình cảm chân thành". 
                Với tham vọng thắp sáng bản đồ ngành lưu trú Việt Nam, khẳng định vị thế vững chắc cho riêng mình.
                Những bước đi chậm nhưng đầy tâm huyết của Lê An sẽ là bước đệm quan trọng để chúng tôi phát triển
                bền vững, vươn lên mạnh mẽ. Không chi trong phạm vi Việt Nam nói chung, mà chúng tôi còn nuôi tham 
                vọng vươn mình ra quốc tế. Chặng đường còn rất dài, nhưng "Đường dài mới biết ngựa hay, ở lâu mới biết 
                người hay kẻ tà", sự đồng lòng và khát vọng không ngừng hoàn thiện song hành mang lại lời ích bền vững 
                cho đất nước và con người.
            </p>
        </div>
    </div>
</div>

