@{
    ViewBag.Title = "Liên lạc";
}
        <div class="col-md-12" style="text-align: center; background-color: #f5f7f5;">
            <div>
                <h3 style="color: #034a6e;">Lê An HOSPITALITY </h3>
                <div>Địa chỉ: Số 282, Quang Trung, Hà Đông, thành phố Hà Nội.</div>
                <div>VPGD: Tòa nhà The Dawn, 96 Định Công, Hoàng Mai, thành phố Hà Nội.</div>
                <div>Mã số thuế: 0106011924</div>
                <div>Email: LeAn@gmail.com</div>
                <div>Facebook: LeAnHospitality</div>
                <div>Instagram: Le.AnHospitality</div>

                <div>
                    <h4 style="color: #034a6e;">IF YOU THINK ABOUT SOMETHING, JUST GO FOR IT.</h4>
                </div>
                
            </div>
        </div>



