@model IEnumerable<QLKS.Models.tblTang>

@{
    ViewBag.Title = "Danh sách tầng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-md-12" style="background-color: #b1c3f0;">
    <div>Vị trí</div>
</div>

<div>
    
    <div class="card-body">
            <table class="table table-bordered">
                <tr>
                    <th>
                        STT
                    </th>
                    <th>
                        Tầng
                    </th>
                    <th>
                        Thao tác
                    </th>
                </tr>

                @{ 
                    int stt = 0;
                }
                @foreach (var item in Model)
                {
                    stt++;

                    <tr>
                        <td>
                            @stt
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ten_tang)
                        </td>
                        <td>
                            @Html.ActionLink("Sửa thông tin", "Edit", new { id = item.ma_tang },
                            new { @class="btn btn-primary" })
                        </td>
                        
                    </tr>
                }

            </table>
        </div>
    </div>
